
<!DOCTYPE html>

<html>
  <head>
    <title>Projectapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all'  %>
    
    <%= javascript_include_tag 'application'  %>
  </head>

  <body>
    <div>  
      <%= link_to  "<h1 style='color:brown;'>Progress Bar</h1>".html_safe, root_path  %>
      <%= link_to 'First一般情况推荐', first_path  %>
      <%= link_to 'Second推荐', second_path  %>
    </div>
    <%= yield %>
  </body>
</html>


