
<!DOCTYPE html>

<html>
  <head>
    <title>Projectapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all'  %>
    
    <%= javascript_include_tag 'application'  %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

# 总的application：包括application.css 和application.js
