
<!DOCTYPE html>

<html>
  <head>
    <title>Projectapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all'  %>
    
    <%= javascript_include_tag 'application'  %>
  </head>

  <body>
    <% if @nav_flag %>
      <%= render partial: "layouts/nav" %>
    <% end  %>

    <%= yield %>
    <%= render partial: "layouts/footer" %>
  </body>
</html>


